name: Create a Release
on: 
  pull_request:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create a Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN_GB }}
      with:
        tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}

