name: Create a Release
on: 
  pull_request:
    branches: 
      - master


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout public repository
      uses: actions/checkout@v2

    - name: Get tag name from ref
      shell: bash
      run: echo "::set-output name=tag::${GITHUB_REF#refs/tags/}"
      id: get_tag

    - name: Create tag
      run: |
        cd ${{github.workspace}}/another_public_repo
        git tag ${{ steps.get_tag.outputs.tag }}
        git push --tags --porcelain

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN_GB }}
      with:
        tag_name: ${{ steps.get_tag.outputs.tag }}
        release_name: Release ${{ steps.get_tag.outputs.tag }}
        draft: false
        prerelease: false
        owner: foo
        repo: another_public_repo

        